@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "/css/reset.css";

/* 
/////////////////////////////////////////////////////////////////////////////
*/
.top_background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    330deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 75, 143, 1) 20%,
    rgba(127, 141, 223, 1) 62%,
    rgba(255, 255, 255, 1) 140%
  );
}

.middle_background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    55deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(127, 141, 223, 1) 20%,
    rgba(231, 75, 143, 1) 62%,
    rgba(255, 255, 255, 1) 100%
  );
}

input::placeholder {
  color: #d5e2ea;
}
input {
  outline: none;
}

form svg {
  color: #d5e2ea;
}

.box-shadow-default {
  -webkit-box-shadow: 0px 35px 40px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 35px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 35px 40px -10px rgba(0, 0, 0, 0.2);
}

.box-shadow-round {
  -webkit-box-shadow: 0px 0px 65px 13px rgba(155, 155, 155, 0.3);
  -moz-box-shadow: 0px 0px 65px 13px rgba(155, 155, 155, 0.3);
  box-shadow: 0px 0px 65px 13px rgba(155, 155, 155, 0.3);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* background-color: red; */
  padding: 0 20px;
}

/* header part */

header {
  /* background-color: aquamarine; */
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header a {
  color: #4c44c1;
  text-decoration: none;
}

header .logo {
  display: inline-block;
  float: left;
  margin-right: 28px;
}
header .logo img {
  width: 70px;
  height: 50px;
}

header .menu {
  display: inline-block;
  float: left;
  position: relative;
  top: 20px;
}
header .menu a {
  text-transform: uppercase;
  margin-right: 26px;
}

header .header_buttons {
  display: inline-block;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top: 18px;
}

header .header_buttons .blue_button {
  background-color: #4c44c1;
  padding: 10px 25px;
  margin: 0 8px;
  color: white;
  border-radius: 35px;
  text-decoration: none;
}
header .header_buttons .blue_button .bag_icon {
  margin-left: 15px;
}
header .header_buttons .orange_button {
  background-color: #fea83b;
  padding: 10px 25px;
  margin: 0 8px;
  color: white;
  border-radius: 35px;
  text-decoration: none;
}

/* 
/////////////////////////////////////////////////////////////////////////////
*/

/* top big section */

#top-big {
  padding: 20px 0 250px;
}

#top-big:after {
  content: "";
  display: table;
  clear: both;
}

#top-big .left_side {
  width: 45%;
  display: inline-block;
  float: left;
}
#top-big .right_side {
  width: 55%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
#top-big .right_side img {
  width: 100%;
}

#top-big .left_side .large_number {
  font-size: 226px;
  font-weight: 700;
  opacity: 0.1;
  color: #4c44c1;
  position: relative;
  left: -16px;
  top: 20px;
  z-index: 1;
}
#top-big .left_side .info_container {
  position: relative;
  top: -70px;
}
#top-big .left_side .info_container h1 {
  font-size: 45px;
  text-transform: capitalize;
  color: #4c44c1;
  margin-bottom: 1.5rem;
}

#top-big .left_side .info_container p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8;
  color: #edecfa;
  margin-bottom: 2.5rem;
}

#top-big .left_side .info_container .email_area {
  background-color: white;
  border-radius: 50px;
  display: inline-block;
  padding: 5px;
  border: none;
}
#top-big .left_side .info_container .email_area svg {
  font-size: 25px;
  position: relative;
  top: 7px;
  margin-left: 10px;
}
#top-big .left_side .info_container .email_area input {
  background-color: white;
  border: none;
  padding: 10px;
  color: #e5e6e9;
  font-size: 1rem;
  width: 53%;
}
#top-big .left_side .info_container .email_area button {
  background-color: #4c44c1;
  padding: 16px 47px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;

  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* 
////////////////////////////////////////////////////////////////////////////////
*/

/* design by */

#design-by {
  position: relative;
  top: -100px;
}

#design-by .design_container {
  position: relative;
  background-color: white;
  overflow: hidden;
  padding: 0;
  border-radius: 5px;
}

#design-by .design_container .bg-container {
  background-color: #4c44c1;
  position: relative;
  overflow: hidden;
  padding: 45px;
}
#design-by .design_container:after {
  content: "";
  display: table;
  clear: both;
}
#design-by .design_container .info_section {
  width: 40%;
  display: inline-block;
  float: left;
  position: relative;
}
#design-by .design_container .info_section .bg-container .bg-image {
  position: absolute;
  width: 600px;
  z-index: 1;
  opacity: 0.3;
  right: -200px;
  top: -100px;
}

#design-by .design_container .info_section .bg-container .design-info {
  position: relative;
  z-index: 2;
}

#design-by .design_container .info_section h5 {
  color: #fea83b;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#design-by .design_container .info_section h3 {
  color: white;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 35px;
}
#design-by .design_container .info_section .info_list {
  margin-bottom: 4rem;
}

#design-by .design_container .info_section .info_list li {
  list-style: none;
  color: white;
  font-size: 1rem;
  margin-bottom: 15px;
}
#design-by .design_container .info_section .info_list li svg {
  color: #fea83b;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

#design-by .design_container .info_section .white-btn {
  background-color: white;
  border-radius: 50px;
  padding: 12.5px 65px;
  text-decoration: none;
  color: #4c44c1;
  font-weight: 700;
  font-size: 1.1rem;
  display: inline-block;
}

/* 
/////////////////
*/

#design-by .design_container .icon_section {
  width: 60%;
  /* height: 420px; */
  background-color: white;
  display: inline-block;
  float: left;
  position: relative;
}
#design-by .design_container .icon_section .refresh_circle {
  position: absolute;
  top: 42%;
  left: 45%;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
}
#design-by .design_container .icon_section .refresh_circle svg {
  position: relative;
  color: #fea83b;
  font-size: 2.5rem;
  top: 15px;
  left: 15px;
}

#design-by .design_container .icon_section .icon_box {
  width: 50%;
  height: 210px;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #f4f5f7;
  color: #4c44c1;
  font-size: 1.3rem;
}

#design-by .design_container .icon_section .icon_box svg {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  margin-top: 61px;
}

/* 
///////////////////////////////////////////////////////////////////////////
*/
/* color collection */

#color-collection {
  padding: 0px 0px 100px;
}

#color-collection .container:after {
  content: "";
  display: table;
  clear: both;
}

#color-collection .left_side {
  width: 60%;
  display: inline-block;
  float: left;
  text-align: center;
}
#color-collection .left_side img {
  width: 50%;
  display: inline-block;
  float: left;
}

/* 
//////////////////////////
*/
#color-collection .right_side {
  width: 40%;
  display: inline-block;
  float: left;
}
#color-collection .right_side:after {
  content: "";
  display: table;
  clear: both;
}

#color-collection .right_side .col-1 {
  float: left;
  width: 80%;
  margin-top: 50px;
}

#color-collection .right_side .col-2 {
  float: left;
  width: 20%;
}
#color-collection .right_side .swatch_area {
  background-color: white;
  padding: 15px;
  display: inline-block;
  border-radius: 55px;
  margin-top: 33px;
  margin-bottom: 40px;
}
#color-collection .right_side .swatch_area:after {
  content: "";
  display: table;
  clear: both;
}

#color-collection .right_side .swatch_area .circle {
  width: 70px;
  height: 70px;
  display: inline-block;
  float: left;
  border-radius: 50%;
  margin: 0 10px;
}

#color-collection .right_side .swatch_area .circle:nth-child(1) {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    142deg,
    rgba(131, 58, 180, 1) 28%,
    rgba(253, 29, 29, 1) 69%,
    rgba(252, 176, 69, 1) 100%
  );
}
#color-collection .right_side .swatch_area .circle:nth-child(2) {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    61deg,
    rgba(131, 58, 180, 1) 41%,
    rgba(224, 29, 253, 1) 70%
  );
}
#color-collection .right_side .swatch_area .circle:nth-child(3) {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    61deg,
    rgba(131, 58, 180, 1) 29%,
    rgba(253, 168, 29, 1) 71%,
    rgba(29, 188, 253, 1) 90%
  );
}

/* 
/////////////////////////////
*/

#color-collection .right_side .info_box {
  max-width: 300px;
  width: 100%;
  background-color: white;
  display: inline-block;
  padding: 40px 20px;
  text-align: center;
}

#color-collection .right_side .info_box h2 {
  font-size: 2rem;
}

#color-collection .right_side .info_box h2 span {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
#color-collection .right_side .info_box h2 span.orange {
  color: #fea83b;
  font-weight: 300;
}
#color-collection .right_side .info_box h2 span.blue {
  color: #4c44c1;
}
#color-collection .right_side .info_box h2 span.purple {
  color: #9344c1;
  font-weight: 300;
}

#color-collection .right_side .info_box p {
  color: #aaacaf;
  font-size: 0.8rem;
  margin: 40px 0;
}
#color-collection .right_side .info_box a {
  color: #4c44c1;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin: 40px 0 20px;
  display: block;
}
#color-collection .right_side .info_box .line {
  height: 2px;
  width: 50px;
  background-color: #9344c1;
  display: inline-block;
}

#color-collection .right_side .color_slider {
  background: rgb(143, 24, 241);
  background: linear-gradient(
    180deg,
    rgba(143, 24, 241, 1) 3%,
    rgba(229, 139, 74, 1) 11%,
    rgba(148, 22, 205, 1) 28%,
    rgba(220, 11, 222, 1) 49%,
    rgba(16, 194, 198, 1) 68%,
    rgba(255, 0, 206, 1) 95%
  );
  width: 15px;
  height: 552px;
  border-radius: 50px;
  margin-left: 20px;
  display: inline-block;

  position: relative;
}
#color-collection .right_side .color_slider .picker {
  border-radius: 50%;
  /* background-color: #9344c1; */
  height: 15px;
  width: 15px;
  border: 10px solid white;
  box-sizing: content-box;
  position: absolute;
  top: 190px;
  left: -10px;
}

/* 
////////////////////////////////////////////////////////////////////
*/
/* blueprint part  */

#blue-print {
  background: rgb(115, 35, 206);
  background: linear-gradient(
    180deg,
    rgba(115, 35, 206, 1) 0%,
    rgba(137, 98, 199, 1) 100%
  );
  padding: 100px 0;
  margin-top: -100px;
  color: #edecfa;
}
#blue-print:after {
  content: "";
  display: table;
  clear: both;
}
#blue-print .left_side {
  width: 60%;
  float: left;
}
#blue-print .left_side img {
  width: 90%;
  opacity: 0.6;
}
#blue-print .right_side {
  width: 40%;
  float: left;
}
#blue-print .right_side h1 {
  font-size: 3.3rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 70px;
}
#blue-print .right_side .info_box {
  padding: 0 0 40px;
}
#blue-print .right_side .info_box:after {
  content: "";
  display: table;
  clear: both;
}

#blue-print .right_side .info_box .col-1 {
  width: 30%;
  float: left;
}
#blue-print .right_side .info_box .col-1 .icon_container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #edecfa;
  position: relative;
}
#blue-print .right_side .info_box .col-1 .icon_container .dashed_circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px dashed #edecfa80;
  margin: 0 auto;
  top: 10px;
  left: 10px;
  position: absolute;
}
#blue-print .right_side .info_box .col-1 .icon_container svg {
  font-size: 4.5rem;
  top: 39px;
  left: 39px;
  position: absolute;
}

#blue-print .right_side .info_box .col-2 {
  width: 70%;
  float: left;
  padding-left: 50px;
}

#blue-print .right_side .info_box .col-2 h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}
#blue-print .right_side .info_box .col-2 p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
#blue-print .right_side .info_box .col-2 a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fea83b;
  font-weight: 600;
}

/* 
/////////////////////////////////////////////////////////////////////
*/
/* products css */

#products {
  padding: 50px 0;
}
#products .header {
  padding: 50px 0;
}
#products .header:after {
  content: "";
  display: table;
  clear: both;
}

#products .header h1 {
  color: #4c44c1;
  font-size: 4.2rem;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}
#products .header .direction {
  display: inline-block;
  float: right;
  position: relative;
  top: 35px;
}
#products .header .direction .move_left {
  float: left;
  padding: 15px 50px;
  font-size: 3rem;
  background-color: #4c44c1;
  color: #edecfa;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #4c44c1;
}
#products .header .direction .move_right {
  float: left;
  padding: 15px 50px;
  font-size: 3rem;
  background-color: #edecfa;
  color: #aaacaf;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #4c44c1;
}

#products .body {
  padding: 100px 0;
}
#products .body:after {
  content: "";
  display: table;
  clear: both;
}
#products .body .column {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  text-align: center;
}

#products .body .column .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

#products .body .column .c1 {
  background: rgb(64, 38, 215);
  background: linear-gradient(
    326deg,
    rgba(64, 38, 215, 1) 0%,
    rgba(171, 66, 194, 1) 53%,
    rgba(206, 167, 35, 1) 100%
  );
}
#products .body .column .c2 {
  background: rgb(64, 38, 215);
  background: linear-gradient(
    326deg,
    rgba(64, 38, 215, 1) 0%,
    rgba(11, 66, 194, 1) 53%,
    rgba(26, 167, 35, 1) 100%
  );
}
#products .body .column .c3 {
  background: rgb(54, 38, 95);
  background: linear-gradient(
    326deg,
    rgba(64, 38, 215, 1) 0%,
    rgba(171, 66, 194, 1) 53%,
    rgba(6, 167, 35, 1) 100%
  );
}

#products .body .column .bg-square img {
  width: 120%;
  position: absolute;
  top: -30%;
  left: -15%;
}
#products .body .column .bg-square .cart {
  width: 80px;
  height: 80px;
  position: absolute;
  border: 10px solid white;
  top: -12%;
  left: 87%;
  border-radius: 50%;
  color: #edecfa;
}
#products .body .column .bg-square .cart svg {
  font-size: 2rem;
  position: relative;
  top: 15px;
}

#products .body .column .line {
  background-color: #4c44c1;
  width: 28%;
  height: 2px;
  margin: 50px auto;
  display: inline-block;
}

#products .body .column .price {
  color: #fea83b;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  top: -20px;
}
#products .footer {
  text-align: center;
  position: relative;
}
#products .footer img {
  width: 30%;
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  top: -60px;
  left: 32%;
  filter: grayscale(100%) invert(1%);
  transform: rotate(10deg);
}
#products .footer .form {
  position: relative;
  z-index: 2;
  padding: 200px 0;
}
#products .footer h2 {
  color: #4c44c1;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 60px;
}
/* 
//////////////////////
*/
#products .footer .info_box .form {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

#products .footer .info_box .input_area {
  background-color: white;
  border-radius: 50px;
  display: inline-block;
  padding: 5px;
  border: none;
  float: left;
}
#products .footer .info_box .input_area:nth-child(1) {
  height: 60px;
  margin-right: 50px;
}
#products .footer .info_box .input_area svg {
  font-size: 25px;
  position: relative;
  top: 7px;
  margin-left: 10px;
}
#products .footer .info_box .input_area input {
  background-color: white;
  border: none;
  padding: 10px;
  color: #e5e6e9;
  font-size: 1rem;
  width: 53%;
}

#products .footer .info_box .input_area:nth-child(1) input {
  position: relative;
  top: 4px;
  right: 40px;
  padding: 5px;
}
#products .footer .info_box .input_area:nth-child(1) svg {
  position: relative;
  top: 12px;
  right: 40px;
}

#products .footer .info_box .input_area button {
  background-color: #4c44c1;
  padding: 16px 47px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;

  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* 
/////////////////////////////////////////////////////////////////////////
*/
/* footer part */

footer {
  background-color: #4c44c1;
  padding: 50px 0;
  text-align: center;
  color: #edecfa;
  margin-top: 50px;
}

footer h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #edecfa;
  margin-bottom: 20px;
}
footer h2 span {
  font-weight: 700;
  color: #fea83b;
}
footer .menu {
  margin-bottom: 20px;
}
footer .menu li {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 600;
  color: #edecfa;
  text-decoration: none;
}
footer .menu li a {
  font-weight: 600;
  color: #edecfa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 40px;
}

footer .social_media {
}
footer .social_media li {
  display: inline-block;
  padding: 0 10px;
}
footer .social_media li a {
  color: #e6cdf9;
  font-size: 2rem;
  opacity: 0.5;
}

/* 
//////////////////////////////////////////////////////////////////////////////////
*/
/* media queries */

/* laptop devices */
@media only screen and (max-width: 1215px) {
  /* top part */
  #top-big .left_side .info_container .email_area {
    width: 100%;
  }
  #top-big .left_side .info_container .email_area svg {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-big .left_side .info_container .email_area input {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
  }
  #top-big .left_side .info_container .email_area button {
    background-color: #4c44c1;
    padding: 16px;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
}

/* tablet devices */
@media only screen and (max-width: 1023px) {
  /* top part */
  #top-big {
    padding: 0 0 300px;
  }
  #top-big .left_side {
    width: 40%;
  }
  #top-big .left_side .large_number {
    font-size: 250px;
  }
  #top-big .left_side .info_container h1 {
    font-size: 2.5rem;
  }
  #top-big .left_side .info_container p {
    font-size: 1.2rem;
  }
  #top-big .left_side .info_container .email_area {
    width: 100%;
  }
  #top-big .left_side .info_container .email_area svg {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-big .left_side .info_container .email_area input {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
  }
  #top-big .left_side .info_container .email_area button {
    background-color: #4c44c1;
    padding: 16px;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
  #top-big .right_side {
    width: 60%;
  }
  #top-big .right_side img {
    position: relative;
    top: 156px;
  }
  /* 
  //////////////////////////////////////////////////
  */
  #design-by .design_container .icon_section .refresh_circle {
    left: 44.5%;
  }

  /* 
  ////////////////////////////////////////////////
  */
  #blue-print {
    padding: 100px 0;
  }
  #blue-print .left_side {
    width: 40%;
  }
  #blue-print .right_side {
    width: 60%;
  }

  #blue-print .right_side .info_box .col-1 {
    text-align: center;
  }
  #blue-print .right_side .info_box .col-1 .icon_container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }
  #blue-print .right_side .info_box .col-1 .icon_container .dashed_circle {
    width: 90px;
    height: 90px;
  }
  #blue-print .right_side .info_box .col-1 .icon_container svg {
    font-size: 3rem;
    top: 30px;
    left: 31px;
  }
  /*  
  ///////////////////////////////////////////////////////////////
  */
  /* product section */
  #products .header {
    text-align: center;
  }
  #products .header h1 {
    font-size: 3.5rem;
  }
  #products .body .column {
    width: 50%;
    margin-bottom: 150px;
  }
  #products .header .direction {
    top: 18px;
  }
  #products .footer img {
    width: 50%;
    top: -200px;
  }
}

/* 833 px size */
@media only screen and (max-width: 833px) {
  #design-by .design_container .icon_section .refresh_circle {
    left: 43%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  /* top part */
  #top-big {
    padding: 0 0 200px;
  }
  #top-big .left_side {
    width: 100%;
  }
  #top-big .left_side .large_number {
    font-size: 250px;
  }
  #top-big .left_side .info_container h1 {
    font-size: 2.5rem;
  }
  #top-big .left_side .info_container p {
    font-size: 1.2rem;
  }
  #top-big .left_side .info_container .email_area {
    width: 100%;
  }
  #top-big .left_side .info_container .email_area svg {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-big .left_side .info_container .email_area input {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
  }
  #top-big .left_side .info_container .email_area button {
    background-color: #4c44c1;
    padding: 16px;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
  #top-big .right_side {
    width: 100%;
  }
  #top-big .right_side img {
    top: 0;
  }
  /* 
  /////////////////////////////////////////////////////
  */
  /* middle section */
  #design-by .design_container .info_section {
    width: 100%;
  }
  #design-by .design_container .icon_section {
    width: 100%;
  }
  #design-by .design_container .bg-container {
    padding: 20px;
  }
  #design-by .design_container .icon_section .info_list li {
    line-height: 2;
  }

  #design-by .design_container .icon_section .refresh_circle {
    display: none;
  }
  /* 
  ///////////////////////////////////////////////
  */
  /* color collection */
  #color-collection .left_side {
    width: 100%;
    text-align: center;
  }
  #color-collection .left_side img {
    float: none;
  }
  #color-collection .right_side {
    width: 100%;
    padding: 100px 0;
  }
  #color-collection .right_side .col-1 {
    float: left;
    width: 80%;
    padding: 0 20px;
    text-align: center;
  }
  #color-collection .right_side .col-2 {
    float: left;
    width: 20%;
    padding: 0 20px;
    text-align: left;
  }
  #color-collection .right_side .swatch_area {
    margin-top: 0;
    margin-bottom: 45px;
  }
  #color-collection .right_side .swatch_area .circle {
    height: 50px;
    width: 50px;
    margin: 0 6px;
  }
  #color-collection .right_side .info_box {
    display: block;
    margin: 0 auto;
  }
  #color-collection .right_side .color_slider {
    height: 500px;
  }

  /* 
  //////////////////////////////////////////////////
  */
  /* blueprint */
  #blue-print {
    padding: 100px 0;
  }
  #blue-print .right_side h1 {
    font-size: 3rem;
    text-align: center;
  }
  #blue-print .left_side {
    width: 100%;
  }
  #blue-print .left_side img {
    display: none;
  }
  #blue-print .right_side {
    width: 100%;
  }
  #blue-print .right_side .info_box .col-1 {
    text-align: center;
  }
  #blue-print .right_side .info_box .col-1 .icon_container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }
  #blue-print .right_side .info_box .col-1 .icon_container .dashed_circle {
    width: 90px;
    height: 90px;
  }
  #blue-print .right_side .info_box .col-1 .icon_container svg {
    font-size: 3rem;
    top: 30px;
    left: 31px;
  }
  /* 
  ///////////////////////////////////////////////////////////////
  */
  /* product section */
  #products .header {
    text-align: center;
  }
  #products .header h1 {
    font-size: 3rem;
    text-align: center;
    max-width: none;
    width: 100%;
  }
  #products .body .column {
    width: 100%;
    margin-bottom: 150px;
  }
  #products .body .column .bg-square {
    transform: scale(0.8);
  }

  #products .header .direction {
    float: none;
    text-align: center;
    position: static;
    margin: 0 auto;
    top: 0;
    margin: 50px auto;
  }
  #products .footer img {
    width: 50%;
  }

  #products .footer .info_box .input_area {
    width: 100%;
  }
  #products .footer .info_box .input_area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  #products .footer .info_box .input_area:nth-child(2) {
    margin: 0;
    width: 100%;
  }

  #products .footer .info_box .input_area svg {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #products .footer .info_box .input_area:nth-child(1) svg {
    position: relative;
    top: 12px;
    right: 0px;
    margin-left: 0;
  }
  #products .footer .info_box .input_area input {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
  }
  #products .footer .info_box .input_area:nth-child(1) input {
    position: relative;
    top: 15px;
    right: 0px;
    padding: 5px;
  }
  #products .footer .info_box .input_area button {
    background-color: #4c44c1;
    padding: 16px;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
}

/* 
////////////////////////////////////////////////////////////////////////////////
*/
/* header part */
/* IN BETWEEN MOBILE AND TABLET DEVICES */
@media only screen and (max-width: 830px) {
  header {
    width: 100%;
  }
  header .menu a {
    margin: 5px;
    padding: 0;
  }
}
/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  header .logo {
    width: 100%;
    text-align: center;
  }
  header .menu {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  header .menu a {
    width: 50%;
    padding: 0 10px;
  }
  header .menu a:nth-child(1),
  header .menu a:nth-child(2) {
    float: left;
    text-align: center;
    margin: 0 0 20px 0;
  }
  header .header-buttons {
    /* width: 100%; */
    text-align: center;
    /* margin-right: 10px; */
  }
  header .header_buttons .blue_button {
    width: 100%;
  }
  header .header_buttons .orange_button {
    width: 100%;
  }
}

/* small mobile */
@media only screen and (max-width: 350px) {
  header .header_buttons .blue_button {
    /* padding: 10px 0; */
    margin: 0;
    width: 55%;
    float: left;
  }
  header .header_buttons .orange_button {
    /* padding: 10px 0; */
    margin: 0;
    width: 35%;
    float: right;
  }
  #blue-print .right_side h1 {
    font-size: 2rem;
    text-align: center;
  }
  #blue-print .right_side .info_box .col-2 h3 {
    font-size: 1.5rem;
  }

  #blue-print .right_side .info_box .col-1 .icon_container {
    width: 90px;
    height: 90px;
    margin: 20px auto 0;
  }
  #blue-print .right_side .info_box .col-1 .icon_container .dashed_circle {
    width: 60px;
    height: 60px;
  }
  #blue-print .right_side .info_box .col-1 .icon_container svg {
    font-size: 2rem;
    top: 23px;
    left: 24px;
  }
  #products .header .direction .move_left {
    float: left;
    padding: 6px 30px;
  }
  #products .header .direction .move_right {
    float: left;
    padding: 6px 30px;
  }
  #products .header h1 {
    font-size: 2rem;
  }
  #products .body .column .bg-square {
    transform: scale(0.8);
    position: relative;
    right: 10%;
  }
  #products .footer img {
    width: 50%;
    top: -50px;
  }
  #products .body {
    padding: 0;
  }
  #products .footer h2 {
    font-size: 2rem;
  }
}
